#home {
    min-height       : 100vh;
    nav{
      background-color: #242430;
      .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo{
        width: 80px;
        img{
          width: 100%;
        }
      }
      ul{
        list-style: none;
        display: flex;
        li{
          margin-left: 50px;
          a{
            color: white;
            text-decoration: none;
            display: block;
            line-height: 60px;
            text-transform: uppercase;
            transition: all 0.5s;
            &:hover{
              color: pink;
            }
          }
        }
      }
    }

    main{
      background-color: #191826;
      .change-video{
        .top{
          text-align: center;
          video{
            border-bottom: 2px solid #ddd;
            width: 90%;
            height: 500px;
          }
        }
        .bottom{
          display: flex;
          justify-content: center;
          margin-top: 30px;
          .img{
            width: 300px;
            height: 225px;
            margin: 0 30px;
            img{
              width: 100%;
              height: 100%;
              cursor: pointer;
              transition: all 0.3s;
              &.active{
               transform: translateY(-10px);
              }
            }
          }
        }
      }
      .change-text{
        color: white;
        margin-top: 160px;
        padding-bottom: 100px;
        display: flex;
        width: 90%;
        .left{
          margin-right: 30px;
          h2{
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 35px;
          }
          .imgs{
            display: flex;
            .img{
              width: 180px;
              height: 135px;
              margin-right: 20px;
              opacity: 0.3;
              &.active{
                opacity: 1;
              }
              img{
                width: 100%;
                height: 100%;
                cursor: pointer;
              }
            }
          }
        }
        .right{
          h2{
            margin-bottom: 20px;
          }
          .price{
            margin-bottom: 10px;
          } 
          .content{
            line-height: 1.6;
          }
        }
      }
    }
}